<h1><%= @list.name %></h1>
<%# SHOW THE bookmarks %>
<ul>
  <% @list.reviews each do |review| %>
    <li><%= review.comment %></li>
  <% end %>
</ul>
<p><%= link_to 'Create a bookmark for this list',  new_list_bookmark_path(@list) %></p>
<p><%= link_to 'Back to Lists', lists_path %></p>
